.footer{
    width: 100%;
    background: var(--text);
}
.footer_main{
    height: 300px;
    padding-top: 100px;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_main_p{
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
}
.footer_main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_main_div_p{
    color: var(--white);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}
.hero_main_p1_link1{
    font-size: 27px;
}
.footer_main_div1{
    display: flex;
    column-gap: 20px;
}
.footer_main_div1_icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    color: var(--white);
    border: 1px solid var(--white);
}
.footer_main_div1_icon:hover{
    border: none;
}
@media screen and (max-width: 768px) {
    .footer_main{
        flex-direction: column;
        row-gap: 20px;
    }
}